.notification {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #E1E1E1;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    bottom: 20px;
    max-width: 230px;
    min-width: 200px;
    padding: 10px;
    position: fixed;
    right: 20px;
    text-align: center;
}
.notification:hover {
    background: none repeat scroll 0 0 #FAFAFA;
    box-shadow: 0 0 5px #E1E1E1 inset;
}
.notification a.hide_button{
    display: none;
}
.notification:hover a.hide_button{
    display: block;
    border: none;
}
.notification a.hide_button img{
    position: absolute;
    right: 2px;
    top: 2px;
}
.notification img{}
.notification p{
    color: #666666;
    font-size: 17px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
}