#social_networks.icons
{
    font-size: 0.8em;
    margin: 0 1.5em 1em;
    text-align: right;
}
		
#social_networks.icons a
{
    color: #41484c;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}
			
#social_networks.icons a:hover
{
    color: #fff;
}