/* 
    Document   : display
    Created on : 10 janv. 2014, 15:02:53
    Author     : nicolascramail
    Description:
        Purpose of the stylesheet follows.
*/


.comments {
    background: none repeat scroll 0 0 #F4F4F4;
    display: none;
    margin-right: 15px;
    height: 160px;
    overflow: auto;
    position: absolute;
    top: 0;
}
.comments h5{
    background-color: #E0E0E0;
    box-shadow: 0 0 5px #C0C0C0;
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 30px;
}
.comments h5 span.fa{
    margin: 0 10px 0 0;
}
.comments ul {
    font-weight: 300;
    margin: 0;
    text-align: left;
    width: 100%;
}
.comments ul .info{
    font-size: 0.8em;
    line-height: 20px;
    margin: 10px 0 0;
}
.comments ul .comment{
    border-top: 1px solid #D0D0D0;
    padding: 10px;
    position: relative;
}
.comments ul .comment .user_name{
    font-size: 0.7em;
    line-height: 20px;
    margin: 0 50px;
}
.comments ul .comment .user_picture{
    float: left;
    height: 40px !important;
}
.comments ul .comment .content{
    font-size: 0.7em;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 50px;
    margin-top: 0;
}

@media (max-width : 800px) {
    .comments {
    display: none !important;
}
}