
#sidePanelToggle {
    display: none;
    backface-visibility: hidden; 
    z-index: 10000; 
    position: fixed; 
    width: 3.5em; 
    height: 2.25em; 
    top: 0px; 
    left: 0px; 
}

#sidePanelToggle .toggle{
    cursor: pointer;
    background: url("/components/menu/images/toggle.svg") no-repeat scroll center center rgba(128, 136, 144, 0.5);
    border-radius: 0.35em;
    height: 100%;
    left: 0;
    margin: 0.25em;
    position: absolute;
    top: 0;
    width: 100%;
}