@media (min-width : 1200px) {
    
    #header {}
    #main {}
    #footer {}
}    
@media (max-width : 1200px) {
    
    #header {}
    #header #menu_left {}
    #header #menu_left .bottom {}
    #main {}
    #footer {}
    
}
@media (max-width : 800px) {
    
    body #main, #main input, #main textarea, #main select {
        font-size: 14pt !important;
    }
    
}
@media (max-width : 560px) {
    
    body #main, #main input, #main textarea, #main select {
        font-size: 13pt !important;
    }
}

@media (max-width : 320px) {
    
    body #main, #main input, #main textarea, #main select {
        font-size: 11pt !important;
    }
}

/* Tablet, both */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* Tablet, portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    
}

/* Tablet, landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

 
}

/* Smartphone, both */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    
}

/* Smartphone, portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    
        
}

/* Smartphone, portrait iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    
    
}